body{
  background-color: #439E8A;
}

#title{
  color:white;
  font-family:Poiret One;
  font-weight: bold;
  margin-left: 20px;
  
}

.container{
  text-align: center;
  color:white;
 }

#cts{
  margin-top:50px;
  
  text-align: center;
}

#button{
  margin-top: 15px;
  height: 80px;
}

#c1{
  display:none;
}

#search{  
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
  border: solid 5px orange;
  background-color: transparent;
  width: 250px;
  height: 44px;
  margin-top: 25px;
  color: white;
  font-size: 25px;
  }

#submit{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 30px;
  font-size: 20px;
}
a{
  color:inherit;
}
.docs{
  background-color:white;
  color: #4A6664;
  padding: 30px 15px;
  margin-bottom: 30px;
  text-align:left;
}

#random{
  margin-top: -20px;
  height: 85px;
}

#random:hover{
  -webkit-filter: invert(100%);
}

#random-search{
  font-size: 15px;
  margin-top: -17px;
  margin-bottom: 80px;
}
